<!-- character window -->
<!-- test code -->
<!--
<div id="id-div-char-win" ondrop="itemDrop(event)" ondragover="itemDragOver(event)">
  <div id="id-div-char-head" class="char-slot" draggable="true" ondragstart="itemDragStart(event)"></div>
</div>
-->
{% load static %}

<div id="id-div-char-win">
  <div class="coord-part coord-part-main" id="id-coord-head">
    <img class="coord-img" src="" alt="머리"/>
  </div>
  <div class="coord-part coord-part-main coord-part-top" id="id-coord-top1">
    <img class="coord-img" src="" alt="상의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-top" id="id-coord-top2">
    <img class="coord-img" src="" alt="상의 II"/>
  </div>
  <div class="coord-part coord-part-main coord-part-bottom" id="id-coord-bottom1">
    <img class="coord-img" src="" alt="하의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-bottom" id="id-coord-bottom2">
    <img class="coord-img" src="" alt="하의 II"/>
  </div>
  <div class="coord-part coord-part-main" id="id-coord-foot1">
    <img class="coord-img" src="" alt="신발"/>
  </div>
  <div class="coord-part coord-part-side" id="id-coord-foot2">
    <img class="coord-img" src="" alt="양말"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc" id="id-coord-acc1">
    <img class="coord-img" src="" alt="액세서리1"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc" id="id-coord-acc2">
    <img class="coord-img" src="" alt="액세서리2"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc" id="id-coord-acc3">
    <img class="coord-img" src="" alt="가방"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc" id="id-coord-acc4">
    <img class="coord-img" src="" alt="액세서리4"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc" id="id-coord-acc5">
    <img class="coord-img" src="" alt="액세서리5"/>
  </div>

  <div class="coord-part coord-part-outer" id="id-coord-outer">
    <img class="coord-img" src="" alt="아우터"/>
  </div>

</div>

<br><br>

<div id="id-div-char-test">
    <div class="moveable" ></div>
    <div class="moveable" ></div>
    <div class="moveable" ></div>
</div>
