<!-- character window -->
<!-- test code -->
<!--
<div id="id-div-char-win" ondrop="itemDrop(event)" ondragover="itemDragOver(event)">
  <div id="id-div-char-head" class="char-slot" draggable="true" ondragstart="itemDragStart(event)"></div>
</div>
-->
{% load static %}

<div id="id-div-char-win" class="coord-win">
  <div class="coord-part coord-part-main clickable blank" id="id-coord-head" value="모자">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/head-f.svg'%}" alt="머리"/>
  </div>
  <div class="coord-part coord-part-main coord-part-top clickable blank" id="id-coord-top1" value="상의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/top1-f.svg'%}" alt="상의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-top clickable blank" id="id-coord-top2" value="상의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/top2-f.svg'%}" alt="상의 II"/>
  </div>
  <div class="coord-part coord-part-main coord-part-bottom clickable blank" id="id-coord-bottom1" value="하의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/bottom1-f.svg'%}" alt="하의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-bottom clickable blank" id="id-coord-bottom2" value="하의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/bottom2-f.svg'%}" alt="하의 II"/>
  </div>
  <div class="coord-part coord-part-main clickable blank" id="id-coord-foot1" value="신발">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/foot1-f.svg'%}" alt="신발"/>
  </div>
  <div class="coord-part coord-part-side clickable blank" id="id-coord-foot2" value="양말">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/foot2-f.svg'%}" alt="양말"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc1" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc1-f.svg'%}" alt="액세서리1"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc2" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc2-f.svg'%}" alt="액세서리2"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc3" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc3-f.svg'%}" alt="액세서리3"/>
  </div>
  
  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc4" value="가방">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc4-f.svg'%}" alt="가방"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc5" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc5-f.svg'%}" alt="액세서리5"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc6" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc6-f.svg'%}" alt="액세서리6"/>
  </div>

  <div class="coord-part coord-part-outer clickable blank" id="id-coord-outer" value="아우터">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/outer-f.svg'%}" alt="아우터"/>
  </div>

</div>

<div class="cls-icon-author">
  <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>

<div id="id-div-coord-win" class="coord-win mt-3 mb-3">
</div>


<div id="id-div-char-test">
    <div class="moveable" style="background-color:red; width:50px; height:50px;"></div>
    <div class="moveable" style="background-color:red; width:50px; height:50px;"></div>
    <div class="moveable" style="background-color:red; width:50px; height:50px;"></div>
</div>
