{% load static %}
<div class="modal fade" id="id-modal-post" tabindex="-1" role="dialog" aria-labelledby="코디 작성" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="id-post-title">코디 저장하기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="mb-2 win-wrapper">
          <div class="coord-win coord-post mb-4" id="id-div-post-win">

          </div>
        </div> 
        <form>
          <div class="form-group">
              <label for="id-post-title-input">제목</label>
              <input type="text" class="form-control" placeholder="제목을 입력하세요." 
                name="title" id="id-post-input-title"/>
            </div>
          <div class="form-group">
              <label>메모</label>
              <textarea rows="3" class="form-control" placeholder="내용을 입력하세요." 
                name="content" id="id-post-textarea"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="coord_post(event, true)" 
          id="id-btn-coord-post">저장하기</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>
