{% extends 'base.html' %}
{% load static %}
{% block title %}힙드로브-홈{% endblock %}
{% block local_head_resources %}
{% endblock %}
{% block content %}
<div class="container-fluid content-wrap">
    <div class="content-main">
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>
        <h1>content-main</h1>

    </div>
    <div class="content-info">
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
        <h3>content-info</h3>
    </div>
    

</div>
{% endblock %}
{% block local_body_resources %}
{% endblock %}

