{% extends 'base.html' %}
{% load static %}
{% block title %}힙드로브-힙스탯{% endblock %}
{% block local_head_resources %}
  <link rel="stylesheet" href="{% static 'hipdrobe/css/narrow.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/bg-white.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/wardrobe-stat.css' %}">
{% endblock %}
{% block bg %}
{% endblock %}
{% block content %}
  {% include '_wardrobe-link.html' %}
  <div class="container-fluid content-wrap ctnt-center">
    <!-- main content section -->
    <div class="content-main">
        <h3>content-main</h3>

        <h4>장고 의존성 탈피 이미지 업로드 테스트</h4>
        <hr>
        <form enctype="multipart/form-data" method="POST" id="id-form-upload">
          {% csrf_token %}
          <div class="form-group">
            <label for="image">이미지</label>
            <input class="form-control-file btn btn-info" type="file" accept="image/*" name="image" id="image"/>
          </div>
          <button type="button" class="btn btn-primary" onclick="uploadImage(event)">업로드</button>
        </form>
        <br>
        <div>
          <div style="width:300px; height:300px; display:inline-block;">
            <img src="" alt="프리뷰" id="preview" style="max-width:100%; height:auto; visibility: collapse; vertical-align: bottom;"/>
          </div>
          <div style="display:inline-block;">
            <img src="" alt="썸네일" id="thumbnail" style="visibility: collapse; vertical-align: bottom;"/>
          </div>
        </div>

    </div>

    <!-- info section -->
    <div class="content-info">
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
    </div>
  </div>
{% endblock %}
{% block content-bottom %}
{% endblock %}
{% block local_body_resources %}
  <script src="{% static 'hipdrobe/js/apis-additem.js' %}"></script>
  <script src="{% static 'hipdrobe/js/wardrobe-stat.js' %}"></script>
{% endblock %}

