{% extends 'base.html' %}
{% load static %}
{% block title %}힙드로브-내 옷장 보기{% endblock %}
{% block local_head_resources %}
  <link rel="stylesheet" href="{% static 'hipdrobe/css/narrow.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/bg-white.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/wardrobe-items.css' %}">
{% endblock %}
{% block bg %}
{% endblock %}
{% block content %}
  {% include '_wardrobe-link.html' %}
  <div class="container-fluid content-wrap ctnt-center">
    <!-- main content section -->
    <div class="content-main">
        <h3> My hipdrobe </h3>
        <div class="cont_wrap">
          <input type="button" class="fun-btn" id="item_top" value="상의"> <br>
          <input type="button" class="fun-btn" id="item_hat" value="모자"> <br><br><br>
          <input type="button" class="fun-btn" id="item_bag" value="가방"> <br><br><br>
          <input type="button" class="fun-btn" id="item_btm" value="하의"> 
          <input type="button" class="fun-btn" id="item_out" value="아우터"> <br><br>
          <input type="button" class="fun-btn" id="item_acc" value="액세서리"> <br><br><br>
          <input type="button" class="fun-btn" id="item_else" value="기타"><br><br>
          <input type="button" class="fun-btn" id="item_sock" value="양말"><br>
          <input type="button" class="fun-btn" id="item_shoe" value="신발">
          
        </div>
        
        



    </div>

    <!-- info section -->
    <div class="content-info">
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
    </div>
  </div>
{% endblock %}
{% block content-bottom %}
  {% include 'hipdrobe/_items_modal.html' %}
{% endblock %}
{% block local_body_resources %}
  <script src="{% static 'hipdrobe/js/wardrobe-items.js' %}"></script>
{% endblock %}

