{% extends 'base.html' %}
{% load static %}
{% block title %}힙드로브-코디 작성{% endblock %}
{% block local_head_resources %}
  <link rel="stylesheet" href="{% static 'hipdrobe/css/narrow.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/bg-white.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/char-win.css' %}">
  <link rel="stylesheet" href="{% static 'hipdrobe/css/wardrobe-coordi.css' %}">
{% endblock %}
{% block bg %}
{% endblock %}
{% block content %}
  {% include 'hipdrobe/include/_wardrobe-link.html' %}
  <div class="container-fluid content-wrap ctnt-center">
    <!-- main content section -->
    <div class="content-main">
      <div class="row mb-3">
        <div class="col-12">
          <button class="btn btn-primary" onclick="openAddItemDialog(event)">옷 추가 테스트</button>
        </div>
      </div>
      <div class="row mb-3">
          <div class="col-12">
          </div>
      </div>


      <!--test drag & drop-->
      <div class="row mb-3">
        <div class="col-12">

          {% include 'hipdrobe/include/_char-win-control.html' %}
          {% include 'hipdrobe/include/_char-win.html' %}
        </div>
      </div>
    </div>

    <!-- info section -->
    <div class="content-info">
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
      <p>content-info</p>
    </div>
  </div>
{% endblock %}
{% block content-bottom %}
  {% include 'hipdrobe/include/_wardrobe-additem.html' %}
{% endblock %}
{% block local_body_resources %}
  <script src="{% static 'hipdrobe/js/apis-additem.js' %}"></script>
  <script src="{% static 'hipdrobe/third-party-etc/displace.js' %}"></script>
  <script src="{% static 'hipdrobe/js/char-win.js' %}"></script>
  <script src="{% static 'hipdrobe/js/wardrobe-coordi.js' %}"></script>
{% endblock %}

