/*
 * char-win.css
 */

 #id-div-char-win {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.coord-part {
    position: absolute;
    display: inline-block;
    border: 1px dashed gray;
    border-radius: 15px;
    /* padding-top: 12%; */
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.coord-part-main {
    left: 27%;
}

.coord-part-sub {
    left: 4%;
}

.coord-part-side {
    left: 50%;
}


.coord-part-top {
    width: 20%;
    top: 21%;
}

.coord-part-bottom {
    width: 20%;
    top: 49%;
}


.coord-part-acc {
    width: 8%;
}


.coord-img {
    max-width: 100%;
    max-height:100%;
    margin: auto;
    border-radius: 15px;
}

#id-coord-head {
    width: 12%;
    top: 5%;
    left: 31%;
}

#id-coord-top1 {
    
   
}

#id-coord-top2 {

}

#id-coord-bottom1 {

}

#id-coord-bottom1 {

}

#id-coord-foot1 {
    width: 14%;
    top: 81%;
    left: 30%;
}

#id-coord-foot2 {
    width: 12%;
    top: 73%;
}

#id-coord-acc1,
#id-coord-acc2 {
    top: 13%;
}

#id-coord-acc4,
#id-coord-acc5 {
    top: 47%;
}

#id-coord-acc2,
#id-coord-acc5 {
    left: 59%;
}

#id-coord-acc3 {
    width: 15%;
    top: 25%;
}

#id-coord-outer {
    width: 25%;
    top: 21%;
    left: 71%;
}

 /* test code */
 #id-div-char-test {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}


.moveable {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 10px;
}
