/*
 * global.css
 */

/*
 * 폰트는 추후 다시 선택
 */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap";


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nanum Pen Script', cursive;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    /* min-height: 100vh; */
    /* background: #7386D5; */
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header{
    padding: 20px;
    /* background: #6d7fcc; */
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.9em;
    font-weight: 300;
    display: block;
}
#sidebar ul li a:hover {
    /* color: #7386D5; */
    background: rgba(0, 0, 0, 0.5);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(0, 0, 0, 0.3);
}

/* 
 * Custom
 */


/* 
 * carousel
 */
.bd-carousel {
    position: absolute;
}

.carousel-item img {
    min-width: 1200px;
    min-height: 768px;
}

.bg {
    z-index: -1;
}

/* 
 * sidebar
 */
.brand-del {
    color: lightgray;
}

.brand-sub {
    font-style: italic;
    font-size: 2em;
}

#sidebar #brand-main-hangeul {
    margin: 0px 15px 0px 0px;

}


/*
 * nav
 */
 .navbar-narrow {
    margin-top: -140px;
    padding: 20px 0px 0px 0px;
    transition: all 0.3s;
 }

 .navbar-narrow .container-fluid {
    justify-content: normal;
 }

 .navbar-narrow  > div > div {
    display: inline-block;
 }

.navbar-narrow  > div > div + div {
     display: inline-block;
     margin-left: 15px;
 }

.navbar-narrow ul li {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 5px;
}

#brand-main-hangeul-narrow {
    display: block;
}

nav.navbar > div > div p {
    display: inline-block;
    font-family: 'Nanum Pen Script', cursive;
    padding: 0px;
    margin: 0px;
    transition: all 0.3s;
}

#page-title {
    font-size: 3em;
}

#page-title-sub {
    font-size: 2em;
}

/* 
 * login section
 */
#log-section {
    margin: 20px 50px 10px 10px;
    
}

#log-section li {
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
}

#log-section ul {
    margin-bottom: 0px;
    
    
}

.meta-info2 span {
    color: black;
}

.meta-info2 .icon {
    display: inline-block;
    text-align: center;
}

.meta-info2 .num {
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-top: -2px;
    margin-left: -15px;
}


/* 
 * content
 */
#content {
    width: 100%;
}

.content-wrap {
    display: flex;
}

.content-head hr{
    width: 98%;
    background-color: #ddd;
}

.content-head ul {
    padding-left: 0px;
}

.content-head li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;  
}

.content-head li.active {
    font-size: 1.6em;
    font-weight: 600;
}

.content-main {
    width: 100%;
    padding-right: 20px;
}

.content-info {
    min-width: 200px;
    max-width: 200px;
    /* min-height: 100vh; */
    /* transition: all 0.3s; */
}

.content-info.active {
    margin-left: 200px;
}


/*
 * modal-additem
 */
#id-modal-additem .form-control {
    height: auto;
}


#id-div-preview, 
#id-div-thumbnail {
    border: 1px dashed gray;
    border-radius: 10px;
}


#id-div-preview {
    width: 215px;
    height: 215px;
  
}

#id-div-thumbnail {
    width: 100px;
    height: 100px;
}

#id-additem-preview,
#id-additem-thumbnail {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 10px;
}
    

#id-additem-preview {
    
}

#id-additem-thumbnail {

}

/* 
 * footer
 */
#footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

#footer p {
    font-size: 12px;
}

.foot-brand {
    font-size: 1.7em;
    font-weight: 600;
}

.foot-team {
    font-size: 1.3em;
    font-weight: 600;
}

#footer hr {
    margin: 20px 0px 30px 0px;
    padding: 0px;
    width: 100%;
}


/* 
 * common etc.
 */
.italic {
    font-style: italic;
}

.right {
    float: right;
}


/* text effect */
.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 2.0em;
  }
.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }















/* 
 * Bootstrap4 기본 style 약간 바꾸기
 */
 /* 드롭다운 */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}










/*
 * Media query 
 */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -220px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .navbar-narrow {
        margin-top: 0px;
    }
}

@media (max-width: 1024px) {
    .content-info  {
        display: none;
    }
}

@media (min-width: 992px) {
    #content .ctnt-center {
        padding-left: 30px;
    }
}

 


  

  
