/*
 * index.css
 */
 @import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

.wrapper {
    color: white;
}

.carousel-item img {
    min-width: 1200px;
    min-height: 768px;
}

.content-bottom {
    font-family: 'Stylish', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.content-bottom-elem {
    font-family: 'Stylish', sans-serif;
    padding: 40px;
}

.content-bottom-elem p {
    font-family: 'Stylish', sans-serif;
    margin: 0px;
    margin-bottom: 10px;
}

.content-bottom-elem .p-head {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
}

.content-bottom-elem .p-body {
    font-family: 'Stylish', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.content-bottom hr {
    background-color: black;
    width: 45%;
}





/*
#bg {
    background-image: url( "/static/hipdrobe/img/bg_index01.jpg" );
}
*/
