/*
 * wardrobe-coordi.css
 */

.wrapper {
    color: black;
}

p {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 100;
    font-size: medium;
}

.content-main {
    background-image: url(/static/hipdrobe/img/bg_index01.jpg);
    padding: 0px 5% 0px;
    color: white;
}

.detail-title, 
.detail-content {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    text-align: left;
    margin: auto;
    font-size: 1.5em;
    padding: 10px;
}

.card-title {
    color: black;
}

.detail-title {
 
}

.detail-content {

}

.win-wrapper {
    width: 100%;
}

.heading {
    color: white;
}

.carousel-item img {
    max-width: 30%;
    height: auto;
    position: relative;
    top: 5%;
    left: 3%;
    right: 0;
    bottom: 0;
    border-right: solid 0.5px lightgray;
    cursor: pointer;
    float: left;
    vertical-align:middle;
}
