/*
 * wardrobe-coordi.css
 */

.wrapper {
    color: black;
}

.carousel-item img {
    max-width: 30%;
    height: auto;
    position: relative;
    top: 5%;
    left: 3%;
    right: 0;
    bottom: 0;
    border-right: solid 0.5px lightgray;
    cursor: pointer;
    float: left;
    vertical-align:middle;
}

.add_button_box {
    text-align: center;
}

