<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- global resources -->
    <link rel="shortcut icon" href="{% static 'hipdrobe/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'hipdrobe/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hipdrobe/css/global.css' %}" />
    
    
    



    <!-- local resources -->
    {% block local_head_resources %}
    {% endblock %}
</head>

<body>
    <div id="loading">
        <img src="{% static 'hipdrobe/img/square-grid-loader.svg' %}"/>
    </div>
    
    <!-- Wrapper -->
    <div class="wrapper">
        {% block bg %}
        {% endblock %}

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'hipdrobe:index' %}">
                    <div id="brand-main">HIP</div>
                    
                    <h1 class="ml7">
                        <span class="text-wrapper">
                          <span class="letters">Wardrobe</span>
                        </span>
                      </h1>
                    <!-- 
                    <div class="m17"><span class="text-wrapper">war</span><span class="letters">drobe</span></div>
                    <div class="clearfix"></div>
                    <div id="brand-main-hangeul"></div> 
                    -->
                </a>
            </div>
            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li id="main-ln-wardrobe" class="">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">나만의 옷장</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'hipdrobe:items' %}">내 옷장 보기</a>
                        </li>
                        <li>
                            <a href="{% url 'hipdrobe:coordi' %}"> 코디 작성</a>
                        </li>
                        <li>
                            <a href="{% url 'hipdrobe:stat' %}">힙-스탯</a>
                        </li>
                        <li>
                            <a href="#">방명록</a>
                        </li>
                        <li>
                            <a href="#">거래</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">랭킹 보기</a>
                </li>
                <li>
                    <a href="#">입는다그램</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content-->
        <div id="content">
            <nav class="navbar navbar-light navbar-narrow">
                <div class="container-fluid">
                    <div>
                        <a href="{% url 'hipdrobe:index'%}">
                            <p id="brand-main-narrow">HIP</p>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'hipdrobe:index'%}">
                            <p id="brand-main-hangeul-narrow">힙드로브</p>
                            <span class="brand-del">war</span><span class="brand-sub">drobe</span>
                        </a>
                    </div>
                    <div>
                        <ul>
                            <li><a href="{% url 'hipdrobe:items' %}">나만의 옷장</a></li>
                            <li><a href="#">랭킹 보기</a></li>
                            <li><a href="#">입는다그램</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div>
                        <p id="page-title"></p>&nbsp;&nbsp;<p id="page-title-sub"></p>
                    </div>
                    <div id="log-section">
                        <ul>
                        <li class="login-info" style="font-size:2em;"><a data-toggle="modal" href="#exampleModal">로그인</a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" >로그인</h5>
                                    </div>
                                    <div class="modal-body" >
                                        <div class="box">
                                        <div class="social">
                                                <a class="kakao" href="#">
                                                <img src="{% static 'hipdrobe/img/kakao.png'%}" >
                                                </a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a class="kakao" href="#">
                                                        <img src="{% static 'hipdrobe/img/naver.png'%}" >
                                                </a>
                                        </div>
                                        </div>
                                        <div class="modal-division">
                                                <div class="line l"></div>
                                                <span>or</span>
                                                <div class="line r"></div>
                                        </div>
                                        <div class="loginBox">
                                                <form method="" action="" accept-charset="UTF-8">
                                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                                
                                                </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                            <span>
                                                    <a href="{% url 'hipdrobe:regist'%}">회원가입</a>
                                            </span>
                                            <div class="login-footer">
                                                    
                                                <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                                                
                                            </div>                                            
                                        </div>
                                </div>
                                </div>
                            </div>
                            </li>
                            <li class="login-info" style="font-size:2em;"><a href="{% url 'hipdrobe:regist' %}">회원가입</a>
                                
                            </li>

                            <li class="meta-info2" style="font-size:2em;">
                                도움말
                            </li>
                            <li class="meta-info2">
                                <div class="icon">
                                    <i class="fas fa-comment-alt" style="font-size:1.3em;"></i>
                                </div>
                                <div class="num">
                                    <span id="alert-cnt">0</span>
                                </div>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block content-bottom %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <hr>
        <div class="footer-wrap">
            <div>
                <p>
                    멀티캠퍼스 아이디어톤 프로젝트 <span class="foot-brand">Hipdrove</span>(힙드로브)<br>
                    [4차 5기] Open-API(B) Team <span class="foot-team">Passion Leader</span>(패션리더) <span class="italic">all right reserved</span>
                </p>
            </div>
            <div>
                <h3 class="italic"><a href="#"><ins>Contact us</ins></a></h3>
            </div>
        </div>
    </footer>

    <!-- global body resources -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!-- text effect -->
    <script src="{% static 'hipdrobe/js/global.js' %}"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- local body resources -->
    {% block local_body_resources %}
    {% endblock %}
</body>

</html>